
	 #login{
	 width:30%;
	 height:auto;
	 margin:0 auto;
	 margin-top:10%;
	 }	
	 input.login_field{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
    width: 250px;
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input.login_field:hover
{
    border:1px solid #cccccc;
}
input.login_field:focus
{
    box-shadow:0 0 2px #FFFE00;
}

.btn_type{
margin-top:2%;
}
#psw_edit{
     width:30%;
     height:auto;
     margin:0 auto;
     margin-top:10%;
     }  
.p_edit{
    color: green;
}
#psw_reset{
     width:30%;
     height:auto;
     margin:0 auto;
     margin-top:10%;
     }  